:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --height--nav: 10vh;
}

section {
  padding: 2rem;
  margin-block-end: 2rem;
  height: auto;
  width: 100%;
}

button {
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;;
}